.details {
  max-width: 900px;
  margin: 0 auto;
}
.details h2 {
  font-size: 1.5em;
}
.details h3 {
  font-size: 1.3em;
  font-weight: 400;
}
.details h1, .details h2, .details h3 {
  margin-top: 2em;
  color: #9580FF;
}
.details p > a {
  display: inline-block;
  margin-left: 1em;
  font-weight: 400;
  border-bottom: 3px solid transparent;
  color: #9580FF;
}
.details p > a:hover {
  border-color: #FF5555;
}
.html {
  margin-top: 40px;
}
.featured {
  padding: 4em 8em 2em;
}
.featured h1 {
  font-size: 2.5em;
  color: #9580FF;
}
.featured .subheading{
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
  color: #FF5555;
}
figcaption {
  color: #FF5555;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
figure {
  margin-top: 3em;
  margin-bottom: 1em;
}
